{% extends 'vdashboard.html' %}
{% block vcontent %}
{% load static %}



<form action="{% url 'vresetpass' %}" method="POST">
    {% csrf_token %}
    Enter your new password :
    <input type="password" name="password" placeholder="Write previous password if you dont want to change">

    Enter your new Username :
    <input type="text" name="username" value={{volunteer.Name}}>

    Enter your new Number :
    <input type="text" name="num" value={{volunteer.contact_num}}>

    Enter your new Email id :
    <input type="email" name="email_id" value={{volunteer.email}}>

    Enter your new Prn no. :
    <input type="text" name="prn_num" value={{volunteer.prn}}>
    <input type="submit" class="btn d-inline-flex btn-sm btn-neutral border-base mx-1" value="Submit">
</form>

{% endblock vcontent %}